<div mat-dialog-content class="success">
  <button class="success__close" (click)="closeDialog()"><i class='bx bx-x'></i></button>
  <i class='bx bx-check success__icon'></i>
  <h3 class="success__title">Thank you for registering</h3>
  <p class="success__text">Your registration has been successfully completed. We'll send you an invite to get started soon! and we'll get back to you as soon as possible.</p>
  <button class="success__btn" (click)="closeDialog()"><span>Explore More</span></button>
</div>
