<section class="page-banner">
  <div class="container text-center">
    <span class="page-name">Alpha Chaperone</span>
    <h1 class="page-title">Trainer Empanelment</h1>
    <i class="page-img"><img src="assets/img/page-banner.jpg"></i>
  </div>
</section>

<section class="overview-cmn">
  <div class="container">
    <p class="section-text lg text-dark text-justify">If you are a freelance trainer or a training profession aspirant looking for a platform to establish your professional training career, May be we can help. Alpha Chaperone develops a Trainer Empanelment Program; a flagship platform for professional trainers.</p>
    <p class="section-text text-justify">The program aims to establish a common platform for professional trainers, so it will be easier to identify and contact them easily. This will also help to unite the professional trainers across different locations. If you are a trainer, This program will equip you with skills and tools, to take your training career to an advanced level.</p>
    <p class="section-text text-justify mb-5">The trainers have to attend the selection procedure followed by a train the trainer program. On the successful completion of both, an official empanelment certificate will be provided to the trainers. The empaneled trainers are considered as the official team members of alpha chaperone and training sessions will be allocated to them based on their location and area of interest.</p>
    <p class="section-text text-justify"></p>
    <span class="section-meta">Who can apply?</span>
    <p class="section-text">Freelance trainers or any training profession aspirant can apply for trainer Empanelment Program.</p>
    <span class="section-meta mt-3">What is the selection criteria?</span>
    <p class="section-text text-justify">The experienced trainers will have to attend an interview and deliver a sample training session. The selected trainers will be awarded with our certificate after the successful completion of the Empanelment induction program. Training Profession aspirants have to undergo a 3 day complete residential induction program and have to deliver 10 training sessions. On successful completion of both, the Empanelment Certificate will be awarded.</p>
  </div>
</section>
