<div mat-dialog-content class="success">
  <button class="success__close" (click)="closeDialog()"><i class='bx bx-x'></i></button>
  <i class='bx bx-check success__icon'></i>
  <h3 class="success__title">Thank you for visiting <br>Alpha Chaperone</h3>
  <p class="success__text">Happy to know that you are interested in our services. Our empanel & internship programs are currently full. We will call out through our social media profiles when the new batch is online.</p>
  <p class="success__text"><strong>Stay connected via our social media profiles to keep updated</strong></p>
  <button class="success__btn" (click)="closeDialog()"><span>Explore More</span></button>
</div>
