<footer class="footer">
  <div class="container">
    <div class="row custom">
      <div class="col-lg-4">
        <a routerLink="/home" class="footer__logo"><img src="assets/img/logo.png"></a>
        <p class="footer__text">Alpha Chaperone is a group of highly motivated Social Workers, who aims to redefine the standards of the profession through monitored internship programmes & quality training sessions.</p>
        <span class="footer__title mt-5">Useful Links</span>
        <ul class="footer__links">
          <li><a routerLink="/about">Who we are</a></li>
          <li><a routerLink="/contact">Contact</a></li>
          <li><a routerLink="/internship">Internship</a></li>
          <li><a routerLink="/training">Training</a></li>
          <li><a routerLink="/empanelment">Trainer Empanelment</a></li>
          <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="col-lg-8">
        <div class="footer__col">
          <span class="footer__title">Contacts</span>
          <div class="row">
            <div class="col-md-12">
              <!-- <span class="section-meta">Registered Address</span> -->
              <p class="footer__text mb-3">39/2475 B1, Suite #261, LR Towers,<br> SJRRA 104, S Janatha Rd, Palarivattom,<br> Kochi, Ernakulam, Kerala - 682 025.</p>
            </div>
            <!-- <div class="col-md-12">
              <span class="section-meta">Office Address</span>
              <p class="footer__text mb-3">Alpha Chaperone Services LLP, <br> Gyan Pragyaan<br> Rajagiri College of Social Sciences <br> Kalamassery, Kochi, Ernakulam, Kerala</p>
            </div> -->
          </div>
          <ul class="footer__cnt">
            <li><a href="mailto:info@alphachaperone.com"><i class='bx bxs-envelope'></i>info@alphachaperone.com</a></li>
            <li><a href="tel:+917012466929"><i class='bx bxs-phone-call'></i>+91 70124 66929</a></li>
            <li><a href="tel:+919048329583"><i class='bx bxs-phone-call'></i>+91 90483 29583</a></li>
          </ul>
        </div>
        <div class="footer__col">
          <span class="footer__title mb-0">Follow us on</span>
          <ul class="footer__social">
            <li><a href="https://www.facebook.com/alphachaperone" target="_blank"><i class='bx bxl-facebook'></i></a></li>
            <li><a href="https://www.instagram.com/alpha_chaperone/" target="_blank"><i class='bx bxl-instagram'></i></a></li>
            <li><a href="https://twitter.com/AlphaChaperone?s=20&t=6sARCn7HLREMg7-9MUbfcg" target="_blank"><i class='bx bxl-twitter'></i></a></li>
            <li><a href="https://www.linkedin.com/company/alpha-chaperone" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
            <li><a href="https://www.youtube.com/channel/UCf1oxZopPPQZo-jwLfQvTZw" target="_blank"><i class='bx bxl-youtube'></i></a></li>
          </ul>
        </div>
        <div class="footer__col">
          <span class="footer__copyright">© Copyright Alpha Chaperone 2022</span>
          <span class="footer__credit">Designed with <i class='bx bxs-heart'></i> by <a href="https://www.codeburylabs.com/" target="_blank"><img src="assets/img/credit.svg"></a></span>
        </div>
      </div>
    </div>
  </div>
</footer>

<button ngxScrollTop class="scroll-top"><i class='bx bx-up-arrow-alt'></i></button>
